<p id="notice"><%= notice %></p>
<% provide(:title, @user.username) %>
<div class="container">
  <% if @user.products.any? %>
      <div class="heading"><h3>Products (<%= @user.products.count %>)</h3></div>
      <div class="row-fluid">
        <%= render @products %>
        </div>
      <%= will_paginate @products %>
  <% end %>
</div>


