<p id="notice"><%= notice %></p>
<% provide(:title, @user.username) %>
<div class="row">
    <% if @user.products.any? %>
        <h3>Products (<%= @user.products.count %>)</h3>
        <ol class="products">
          <%= render @products %>
        </ol>
        <%= will_paginate @products %>
    <% end %>
</div>
