
<div class="span9">
  <div class="row-fluid">
    <% @products.each do |product| %>
    <div class="span5 offset1">
      <h2 class = "pull-left"><%= product.product_name %></h2>
      <h2 class = "pull-right">$<%= product.product_price %></h2>
      <%= image_tag "480x300.gif" %>
      <%= link_to 'View details', product %>
    </div><!--/span-->
    <% end %>
  </div>
</div>



